<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="ion-title-small">
      <ion-title><span class="title">Корзина </span> </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <div class="ion-title">
          <span class="title">Корзина</span>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Потяните для обновления"
      refreshingSpinner="circles" refreshingText="Обновление...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ng-container *ngIf="dataStateService.cardsInMyCart$ | async as cartItems">
        <ion-col size="6" size-md="4" size-lg="3" *ngFor="let item of cartItems">
          <app-compact-card [data]="item.product || item"></app-compact-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>

  <!-- Кнопка оплаты -->
  <div class="payment-section" *ngIf="(dataStateService.cardsInMyCart$ | async)?.length">
    <ion-button expand="block" class="pay-button" (click)="goToPayment()">
      <ion-icon name="card-outline" slot="start"></ion-icon>
      Оплатить
    </ion-button>
  </div>
</ion-content>