<ion-header [translucent]="true">
  <ion-toolbar>
    <app-back-button slot="start"></app-back-button>
    <ion-title>Избранное</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ng-container *ngIf="favorites.length; else empty">
        <ion-col size="6" size-md="4" size-lg="3" *ngFor="let likeItem of favorites">
          <app-compact-card [data]="likeItem.product" [hideButtons]="true"></app-compact-card>
        </ion-col>
      </ng-container>
      <ng-template #empty>
        <ion-col size="12">
          <div class="favorites-empty">Нет избранных продуктов</div>
        </ion-col>
      </ng-template>
    </ion-row>
  </ion-grid>
</ion-content>