.settings-title {
  margin-bottom: 20px;
}

.setting-wrap {
  margin-top: 5vh;
}

.setting-list-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.setting-list {
  margin-top: 10px;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}
