<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Настройки </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="settings-title" size="large">Настройки</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="setting-wrap">
    <app-auth></app-auth>
    <!-- <ion-datetime-button datetime="datetime"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime"></ion-datetime>
      </ng-template>
    </ion-modal> -->
  </div>
</ion-content>