<div class="thumbs-container">
  <div *ngFor="let img of images; let i = index" class="thumbnail-container">
    <img [src]="img" alt="Thumbnail {{ i + 1 }}" class="thumbnail" (click)="openModal(i)" />
    <button class="delete-btn" (click)="deleteImage(i)">
      <ion-icon src="assets/icons/delete.svg"></ion-icon>
    </button>
  </div>
</div>

<ion-modal [isOpen]="isModalOpen" backdropDismiss="true" (ionModalDidDismiss)="closeModal()">
  <ng-template>
    <ion-content class="ion-padding modal-content" (swipeleft)="swipeLeft()" (swiperight)="swipeRight()">
      <div class="modal-wrap">
        <button class="close-btn" aria-label="Close modal" (click)="closeModal()">×</button>
        <img [src]="images[currentIndex]" alt="Image {{ currentIndex + 1 }}" class="full-image" />

        <div class="button-container">
          <button class="nav-btn" (click)="swipeRight()" [disabled]="currentIndex === 0">
            <ion-icon class="arrow reverse-image" src="assets/icons/arrow.svg"></ion-icon>
          </button>
          <button class="nav-btn" (click)="swipeLeft()" [disabled]="currentIndex === images.length - 1">
            <ion-icon class="arrow" src="assets/icons/arrow.svg"></ion-icon>
          </button>
        </div>

        <button class="delete-btn" (click)="deleteImage(currentIndex)">
          <ion-icon src="assets/icons/delete.svg"></ion-icon>
        </button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>