<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="ion-title-small">
        <span class="title">Мои события</span>
        <ion-button
          fill="outline"
          size="small"
          class="add-new-btn"
          (click)="createEvent()"
        >
          <ion-icon class="login-icon" src="assets/icons/add.svg"></ion-icon>
        </ion-button>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <div class="ion-title">
          <span class="title">Мои события</span>
          <ion-button
            fill="outline"
            size="small"
            class="add-new-btn"
            (click)="createEvent()"
          >
            <span>Создать</span>
            <ion-icon
              size="small"
              class="login-icon"
              src="assets/icons/add.svg"
            ></ion-icon>
          </ion-button>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let event of eventStateService.myEvents$ | async">
    <app-event-card [event]="event"></app-event-card>
  </div>
</ion-content>
