<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="modal-content">
    <p class="message">{{ message }}</p>
    <p *ngIf="productName" class="product-name">Название товара: <strong>{{ productName }}</strong></p>

    <div class="button-container">
      <ion-button expand="block" color="danger" (click)="confirm()" class="confirm-btn">
        {{ confirmText }}
      </ion-button>

      <ion-button expand="block" fill="outline" (click)="cancel()" class="cancel-btn">
        {{ cancelText }}
      </ion-button>
    </div>
  </div>
</ion-content>