<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="ion-title-small">
      <ion-title><span class="title">Мои товары</span> </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        <div class="ion-title">
          <span class="title">Мои товары и услуги</span>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="block" (click)="create()" class="create-product-btn">
    <ion-text>Создать товар</ion-text>
  </ion-button>
  <ion-grid>
    <ion-row>
      <ng-container *ngIf="dataStateService.myCards$ | async as products">
        <ion-col size="6" size-md="4" size-lg="3" *ngFor="let data of products">
          <app-compact-card [data]="data" [showDeleteButton]="true"></app-compact-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>