<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="ion-title-small">
        <span class="title">Мои товары и услуги</span>
      </div>
    </ion-title>
  </ion-toolbar>
  <div class="create-block">
    <ion-select class="select-product" value="product" placeholder="Выберете">
      <ion-select-option [value]="'product'">Товар</ion-select-option>
    </ion-select>
    <ion-button (click)="create()">
      <ion-text>Создать</ion-text>
    </ion-button>
  </div>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let data of dataStateService.myCards$ | async">
        <ion-col size="6" size-md="4" size-lg="3">
          <app-compact-card [data]="data"></app-compact-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>