<ion-header [translucent]="true">
  <ion-toolbar>
    <app-back-button></app-back-button>
  </ion-toolbar>
</ion-header>
<div class="card">
  <div class="heart-button">
    <ion-button size="small" (click)="like($event)" fill="clear" color="primary">
      <ion-icon class="heart-icon" [class.liked]="false" name="heart"></ion-icon>
    </ion-button>
  </div>
  <app-image-slider [images]="data?.photos"></app-image-slider>
  <div class="price" color="danger">{{ data?.price }}₽</div>
  <ion-content class="ion-padding">
    <h4 class="name">{{ data?.name }}</h4>
    <p class="description">{{ data?.description }}</p>
  </ion-content>

  <div class="buy-button">
    <ion-button (click)="buy($event)" expand="full">
      <ion-icon name="cart"></ion-icon> Купить
    </ion-button>
  </div>
</div>