<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>com.apple.developer.associated-domains</key>
    <array>
        <!-- Ваш основной домен -->
        <string>applinks:parsifal-trade.netlify.app</string>

        <!-- Обязательный для Yandex Login SDK v3 -->
        <string>applinks:yx14e2cce0ee3743fe8f1e0da062f95200.oauth.yandex.ru</string>

        <!-- Дополнительно для мобильных приложений Яндекса -->
        <string>applinks:mobile.yandex.ru</string>
    </array>
</dict>
</plist>
